<!DOCTYPE html>
<html lang="en">
<head>
    <title>SignUp</title>
    <style>
        .box{
        height:200px;
        width:300px;
        background-color:purple;
        margin-top:150px;
        }
        .blackbox{
        height:210px;
        width:300px;
        background-color:black;
         margin-top:150px;
        }
    </style>
</head>
<h1 align="center">
    <font color="purple">Sign Up to Blog!</font>
</h1>
<body style="background-color:pink;">
<div align="center">
<div class="blackbox">
    <div class="box">
<form method="post" style="padding-top:40px;">
    <div><font color="white">Username</font>
        <input type="text" name="name" placeholder="Name" style="margin:10px;"></div>
    <div><font color="white">Password</font>
        <input type="text" name="newpassword" placeholder="Password" style="margin:10px;"></div>
    <input type="submit" value="submit" style="margin:10px;">
</form>
        </div>
</div>
</div>
</body>
</html>